<h1>Welcome to Employee Tracker</h1>

<div class="row">
  <div class= "col-xs-6 col-md-4">
    <h3>Enter a division below:</h3>
    <form action = "/division" method = "post">
      <div class ="form-group">
        <label for = "name">Division name</label>
        <input id= "name" name = "name" class "form-control" type = "text">
      </div>
      <button type ="submit">Add division</button>
    </form>


    <h3>Choose a Division to See Employees</h3>
    <form action="/list_division_employees" method="post">
      <label for="division_id">Select a Division</label>
      <select id="division_id" name = "division_id" type="text">
          <% @divisions.each() do |division| %>
            <option value="<%= division.id()%>"> <%= division.name() %> </option>
          <% end %>
      </select>
      <button type ="submit">See a division</button>
    </form>

    <% if @division_employees.any?() %>
      <% @division_employees.each do |employee| %>
        <ul>
          <li><%= employee.name() %></li>
        </ul>
      <% end %>
    <% else %>
      <h4>Currently there are no employees</h4>
    <% end %>

    <form action="/division/delete" method = "post">
      <input name="_method" type="hidden" value="delete">
      <label for "division_id">Select a division </label>
      <select id ="division_id" name = "division_id" type ="text">
        <% @divisions.each() do |division| %>
          <option value="<%= division.id()%>"> <%= division.name() %> </option>
        <% end %>
      </select>
      <button type ="submit">Delete a division</button>
    </form>

  </div>

  <div class = "col-xs-6 col-md-4">

    <h3> Add an employee to a division: </h3>


    <form action = "/division/added_employee" method ="post">

        <label for = "division_id">Select a Division</label>
        <select id = "division_id" name ="division_id" type ="text">
          <% @divisions.each() do |division| %>
            <option value ="<%= division.id()%>"> <%= division.name() %> </option>
          <% end %>
        </select>

      <div class= "form-group">
        <label for = "name" >Employee Name</label>
        <input name = "name" id = "name"  class="form-control" type = "text">
      </div>
    </form>

    <% if @employees.any?() %>
      <% @employees.each do |employee| %>
        <ul>
          <li><%= employee.name() %></li>
        </ul>
      <% end %>
    <% else %>
      <h4>Currently there are no employees</h4>
    <% end %>
  </div>
</div>
